@import "tailwindcss";

@theme {
  --color-light: rgb(249, 248, 246);
  --color-dark: rgb(75, 71, 68);
  --color-primary: rgb(7, 54, 48);
  --color-secondary: rgb(238, 225, 216);
  --color-accent: rgb(219, 199, 174);

  --font-yeseva: "Yeseva One", "sans-serif";
  --font-alice: "Alice", "sans-serif";
  --font-karla: "Karla", "sans-serif";

  /* --font-montserrat: "Montserrat", "sans-serif";
  --font-playfair: "Playfair Display", "sans-serif";
  --font-josefin: "Josefin Sans", "sans-serif";
  --color-background2: rgb(234, 230, 227);
  --color-primary2: rgb(177, 175, 176);
  --color-accent2: rgb(184, 145, 110); */
}

/* * {
  @apply text-colorText;
} */

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
